/* Grundlegende Stildefinitionen */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.logo {
    width: auto;  /* Stelle das Logo zentrisch und entsprechend der natürlichen Größe dar */
    max-width: 100%; /* Stelle sicher, dass das Logo nicht über den Bildschirm hinausgeht */
    height: auto;
}

nav {
    display: none; /* Startzustand des Menüs ist versteckt */
    background-color: #333;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    padding: 10px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.hamburger-menu {
    cursor: pointer;
    position: absolute;
    right: 10px;  /* Positionierung nach Bedarf anpassen */
    top: -50px;   /* Positionierung außerhalb des Headers */
}

.hamburger-menu span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 20px;
}

form label, form input[type="text"], form input[type="email"], form textarea, form button {
    width: 100%;
    margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hamburger-menu span {
        width: 20px; /* Smaller width for mobile */
    }
}